.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.auth-inner {
  width: 32vw;
  min-width: 320px;
  max-width: 600px;
  height: 80%;
}

.auth-form {
  margin-top: 30px;
}

.labels {
  margin-bottom: 5px;
  font-weight: 600;
}

.auth-buttons {
  display: flex;
  justify-content: space-between;
}

.authBtn {
  height: 40px !important;
  width: 150px;
}

.activeBtn {
  width: 200px !important;
}

.btnGoogle {
  width: 100%;
  height: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnGoogle > img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}


.verify-email {
  color: red;
  text-decoration: underline;
}

.verify-email:hover {
  cursor: pointer;
  color: black;
}

.backBtn {
  position: absolute !important;
  top: 10px !important;
  left: 10px !important;
  border-radius: 50% !important;
  height: 40px !important;
  width: 40px !important;
}
